/* .nav_list {
    list-style-type: none;
} */


.nav_item  {
    float: left;
    margin: 0px;
    padding: 8px;
	color:red;
	list-style-type:none;

}
.nav_item :hover {
    color:brown;
}

.nav_item :active {
	font-size: 25px;
	
}

.nav_bar{
	background-color:yellowgreen;
	margin: 0px;
	padding:5px;
    /* height: 40px; */
}
